<nav class="sidebar">
    <ul class="list-group">
        <div class='logo'>
                <img src="assets/images/flat-avatar.png" class="user-avatar" />
        </div>

        <a id='sidebar-home' class="list-group-item home" [routerLink]="['/dashboard']">
            HOME
        </a>
        <a  id='sidebar-reports' class="list-group-item" [routerLink]="['/dashboard/reports']">
            REPORTS
        </a>
        <a  class="list-group-item" [routerLink]="['/login']">
            LOGOUT
        </a>
        <a  class="list-group-item" href="http://www.strapui.com/">
            MORE PREMIUM THEMES
        </a>
    </ul>
</nav>