$topnav-background-color: darken(#1abc9c, 3%);
* {
    background-color: $topnav-background-color;
}
.logo {
    width: 100%;
    height: 100%;
    padding: 30px 30px 20px 30px;
    position: relative;
}
.logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.user-avatar {
    border-radius: 50%;
    max-width: 140px;
    // width: 100%;
    border: 3px solid white;
}
.sidebar {
    border-radius: 0;
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 265px;
    height: 100%;
    border-radius: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    // display: flex;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    // border-top: 1px solid rgba(255,255,255,0.3);
    .list-group {
        position: relative;
        width: 100%;
        a.list-group-item {
            // flex: 1;
            border: 0;
            border-radius: 0;
            color: #fff;
            text-decoration: none;
            .fa {
                margin-right: 10px;
            }
        }
        a:hover {
            background: #1abc9c;
        }
        a.router-link-active {
            background: #1abc9c;
        }
    }
}
