@keyframes slide {
    from {
        width: 0px;
    }
    to {
        width: 265px;
    }
}
@keyframes slideR {
    from {
        width: inherit;
    }
    to {
        width: 0px;
    }
}

.pt-page-moveToLeft {
    -webkit-animation: moveToLeft 2.6s ease both;
    animation: moveToLeft 2.6s ease both;
}

.pt-page-moveFromLeft {
    -webkit-animation: moveFromLeft 2.6s ease both;
    animation: moveFromLeft 2.6s ease both;
}

.pt-page-moveToRight {
    -webkit-animation: moveToRight 5.6s ease both;
    animation: moveToRight 5.6s ease both;
}

.pt-page-moveFromRight {
    -webkit-animation: moveFromRight .6s ease both;
    animation: moveFromRight .6s ease both;
}

.pt-page-moveToTop {
    -webkit-animation: moveToTop .6s ease both;
    animation: moveToTop .6s ease both;
}

.pt-page-moveFromTop {
    -webkit-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}

.pt-page-moveToBottom {
    -webkit-animation: moveToBottom .6s ease both;
    animation: moveToBottom .6s ease both;
}

.pt-page-moveFromBottom {
    -webkit-animation: moveFromBottom 1s ease both;
    animation: moveFromBottom 1s ease both;
}

/* fade */

.pt-page-fade {
    -webkit-animation: fade .7s ease both;
    animation: fade .7s ease both;
}

/* move from / to and fade */

.pt-page-moveToLeftFade {
    -webkit-animation: moveToLeftFade .7s ease both;
    animation: moveToLeftFade .7s ease both;
}

.pt-page-moveFromLeftFade {
    -webkit-animation: moveFromLeftFade .7s ease both;
    animation: moveFromLeftFade .7s ease both;
}

.pt-page-moveToRightFade {
    -webkit-animation: moveToRightFade .7s ease both;
    animation: moveToRightFade .7s ease both;
}

.pt-page-moveFromRightFade {
    -webkit-animation: moveFromRightFade .7s ease both;
    animation: moveFromRightFade .7s ease both;
}

.pt-page-moveToTopFade {
    -webkit-animation: moveToTopFade 2s ease both;
    animation: moveToTopFade 2s ease both;
}

.pt-page-moveFromTopFade {
    -webkit-animation: moveFromTopFade .7s ease both;
    animation: moveFromTopFade .7s ease both;
}

.pt-page-moveToBottomFade {
    -webkit-animation: moveToBottomFade .7s ease both;
    animation: moveToBottomFade .7s ease both;
}

.pt-page-moveFromBottomFade {
    -webkit-animation: moveFromBottomFade .7s ease both;
    animation: moveFromBottomFade .7s ease both;
}

/* move to with different easing */

.pt-page-moveToLeftEasing {
    -webkit-animation: moveToLeft .7s ease-in-out both;
    animation: moveToLeft .7s ease-in-out both;
}
.pt-page-moveToRightEasing {
    -webkit-animation: moveToRight .7s ease-in-out both;
    animation: moveToRight .7s ease-in-out both;
}
.pt-page-moveToTopEasing {
    -webkit-animation: moveToTop .7s ease-in-out both;
    animation: moveToTop .7s ease-in-out both;
}
.pt-page-moveToBottomEasing {
    -webkit-animation: moveToBottom .7s ease-in-out both;
    animation: moveToBottom .7s ease-in-out both;
}

//============================================================

@-webkit-keyframes moveToLeft {
    from {
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}
@keyframes moveToLeft {
    from {
    }
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveFromLeft {
    from {
        -webkit-transform: translateX(-100%);
    }
}
@keyframes moveFromLeft {
    from {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveToRight {
    from {
    }
    to {
        -webkit-transform: translateX(100%);
    }
}
@keyframes moveToRight {
    from {
    }
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes moveFromRight {
    from {
        -webkit-transform: translateX(100%);
    }
}
@keyframes moveFromRight {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes moveToTop {
    from {
    }
    to {
        -webkit-transform: translateY(-100%);
    }
}
@keyframes moveToTop {
    from {
    }
    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveFromTop {
    from {
        -webkit-transform: translateY(-100%);
    }
}
@keyframes moveFromTop {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveToBottom {
    from {
    }
    to {
        -webkit-transform: translateY(100%);
    }
}
@keyframes moveToBottom {
    from {
    }
    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
}
@keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

/* fade */

@-webkit-keyframes fade {
    from {
    }
    to {
        opacity: 0.3;
    }
}
@keyframes fade {
    from {
    }
    to {
        opacity: 0.3;
    }
}

/* move from / to and fade */

@-webkit-keyframes moveToLeftFade {
    from {
    }
    to {
        opacity: 0.3;
        -webkit-transform: translateX(-100%);
    }
}
@keyframes moveToLeftFade {
    from {
    }
    to {
        opacity: 0.3;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveFromLeftFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateX(-100%);
    }
}
@keyframes moveFromLeftFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes moveToRightFade {
    from {
    }
    to {
        opacity: 0.3;
        -webkit-transform: translateX(100%);
    }
}
@keyframes moveToRightFade {
    from {
    }
    to {
        opacity: 0.3;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes moveFromRightFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateX(100%);
    }
}
@keyframes moveFromRightFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes moveToTopFade {
    from {
    }
    to {
        opacity: 0.3;
        -webkit-transform: translateY(-100%);
    }
}
@keyframes moveToTopFade {
    from {
    }
    to {
        opacity: 0.3;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveFromTopFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateY(-100%);
    }
}
@keyframes moveFromTopFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-webkit-keyframes moveToBottomFade {
    from {
    }
    to {
        opacity: 0.3;
        -webkit-transform: translateY(100%);
    }
}
@keyframes moveToBottomFade {
    from {
    }
    to {
        opacity: 0.3;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@-webkit-keyframes moveFromBottomFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateY(100%);
    }
}
@keyframes moveFromBottomFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}
