@import '../animation/transition';
$brand-primary: #1abc9c;
.btn-sidebar-collapse {
  float: left;
  padding-left: 5px !important;
  padding-top: 25px !important;
}

.btn-fr-wrapper {
  margin: 0 auto;
  padding-left: 10px !important;
  overflow: hidden;
}
.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#left {
  height: 100%;
  transition: width 0.2s;
  white-space: nowrap;
  width: 300px;
  float: left;
  overflow: hidden;
}
.hide {
  width: 0 !important;
}
.hide-div-content {
  margin-left: 0 !important;
}
#right {
  height: 100%;
  transition: margin 0.2s;
  overflow: hidden;
  margin-left: 300px;
}
.dashboard-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: $brand-primary;
  color: white;
  overflow: hidden;
  h2 {
    font-weight: 300;
    small {
      color: #fff;
    }
  }

  .jumbotron {
    background: $brand-primary;
    position: relative;
    padding-left: 100px;
    h1 {
      font-size: 63px !important;
      font-weight: 400 !important;
      line-height: 1.1 !important;
    }
    small {
      font-size: 14px !important;
    }
  }
  .fr {
    float: left;
    overflow: hidden;
    padding-left: 15px !important;
    h2 {
      font-weight: 300 !important;
      line-height: 1.1 !important;
      font-size: 30px !important;
      small {
        font-weight: 400 !important;
        line-height: 1 !important;
        color: #fff;
        font-size: 65%;
      }
    }
  }
}
.btn-white {
  border-color: white;
  border-radius: 0 !important;
  border: 3px solid;
  background: none;
  &:hover,
  &:focus {
    border-color: white;
    color: #797979;
    background: white;
  }
}

.bg-dark {
  background: #34495e;
}

* {
  a:hover {
    cursor: pointer;
  }
}
